.content__subtitle{
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  max-width: 880px;
  margin: 0 0 24px;
  text-align: start;
}
@media (max-width: 900px){
  .content__subtitle{
  font-size: 32px;
  line-height: 36px;
  margin: 40px 20px 0 20px;
  }
}
