.page {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    font-family: 'TT Firs Neue', Arial, sans-serif;
    color: #3B3748;
}

@media screen and (max-width: 599px) {
  .page {
  height: 100%;
  justify-items: unset;
}
}
