.form-section__form {
  width: 531px;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  gap: 12px;
  
}

@media screen and (max-width: 599px ) {
  .form-section__form {
    width: 100%;
    gap: 16px;

  }
  
}