.form-section__input {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 26px;
  width: 100%;
  border: 2px solid #96949E;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;

}

@media screen and (max-width: 599px) {
.form-section__input{

  font-size: 16px;
  line-height: 20px;
}
}