.header__user-action-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 311px;
    justify-content: space-between;
    flex-shrink: 2;
}

@media screen and (max-width: 1124px) {
    .header__user-action-section{
       flex-basis: 400px;
    }
      
  }

  @media screen and (max-width: 699px) {
    .header__user-action-section{
       flex-basis: 216px;
    }
      
  }