.form-section__container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 40px;
}

@media screen and (max-width: 899px) {
  .form-section__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 599px) {
  .form-section__container {
    margin-bottom: 0;
  }
}
