.form-section__title {
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  margin: 0;
  margin: 40px 0 40px 0px;
  align-self: flex-start;
}

@media screen and (max-width: 899px) {
  .form-section__title {
    display: none;
  }
}
