.form-section__button {
  border: none;
  width: 204px;
  height: 48px;
  background-color: transparent;
  border-radius: 26px;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  .form-section__button {
     width: 154px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    

  }
}