.content__button{
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 880px;
  border-radius: 26px;
  background-color:#7100FF;
  color: #FCFAF7;
  border: none;
  padding: 12px 24px;
  margin: 25px 0 80px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
@media screen and (max-width: 900px){
  .content__button{
    font-size: 16px;
    line-height: 20px;
    padding: 12px 93.5px;
    margin: 20px;
  }
}

@media screen and (max-width: 599px) {
  .content__button {
    width: 100%;
    padding: 12px 0;
  }
  
}
.content__button:hover {
  background-color: #5100B8;
  transition: background-color 0.25s ease-in-out;
}
