.footer {
  background-color: #ebe9ed;
  padding: 80px 0;
  width: 100%;
  font-family: "TT Firs Neue", Arial, sans-serif;
}

@media screen and (max-width: 800px) {
  .footer {
    display: none;
  }
}
